body {
    background-color: #000;
}

/*                                               NAVBAR */

.navbar {
    font-size: 1em;
    height: 70px;
    background-color: #444;
    z-index: 1;
    color: red;
}

.navbar-brand {
    font-size: 1.3em;
    font-family: 'Fredericka the Great', cursive;
}

.navbar img {
    margin-top: -1px;
    width: 75px;
}

/*                                               FOOTER */

footer {
    background-color: #666;
}

.social-footer {
    height: 60px;
    text-align: center;
    background-color: #444;
}

footer i {
    font-size: 25px;
    border: solid #666 4px;
    border-radius: 50%;
    background-color: #666;
    color: white;
    margin: 11px 10px;
}

#facebook i {
    padding: 3px 4px 2px 4px;
}

#instagram i {
    padding: 3px 4px 2px 4px;
}

#linkedin i {
    padding: 3px 4px 2px 4px;
}

#twitter i {
    padding: 3px 2px 2px 4px;
}

#youtube i {
    padding: 3px 1px 2px 1px;
}

.text-footer {
    color: #ccc;
    margin-top: 20px;
    padding-top: 10px;
}

.text-footer h5 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.footer-items ul li a {
    text-decoration: none;
    color: #ccc;
}

.footer-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-items {
    height: 160px;
}

/*                                              INDEX.HTML     */

.callout-container {
    height: 100vh;
    background: url('../assets/2018-agenda-black-273011.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*Horizontally centering*/
    position: relative;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    text-shadow: 7px 0px 24px #f0ad4e;
    font-size: 4rem;
    font-family: 'Fredericka the Great', cursive;
    color: #000;
}

.lead {
    font-family: 'Exo', sans-serif;
    color: #000;
    text-shadow: 3px 0px 12px #f0ad4e;
    font-size: 2rem;
}

.button-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-left {
    display: inline-flex;
    padding: 10px;
    justify-content: space-around;
}

.button-right {
    display: inline-flex;
    padding: 10px;
    justify-content: space-around;
}

.jumbotron .btn {
    width: 150px;
}
