body {
    background-color: #eeddcc;

}

/*                                               NAVBAR */

.navbar {
    font-size: 1em;
    background-color: #444;
    z-index: 10;
    color: red;
}

.navbar-brand {
    font-size: 1.3em;
    font-family: 'Fredericka the Great', cursive;
}

.navbar img {
    margin-top: -1px;
    width: 70px;
}

#collapsibleNavbar{
    background-color: #444;
    padding-left: 1em;
}

/*                                               FOOTER */

footer {
    background-color: #666;
    position: static;
}

.social-footer {
    height: 60px;
    text-align: center;
    background-color: #444;
}

footer i {
    font-size: 25px;
    border: solid #666 4px;
    border-radius: 50%;
    background-color: #666;
    color: white;
    margin: 11px 10px;
}

#facebook i {
    padding: 3px 4px 2px 4px;
}

#instagram i {
    padding: 3px 4px 2px 4px;
}

#linkedin i {
    padding: 3px 4px 2px 4px;
}

#twitter i {
    padding: 3px 2px 2px 4px;
}

#youtube i {
    padding: 3px 1px 2px 1px;
}

.text-footer {
    color: #ccc;
    margin-top: 20px;
    padding-top: 10px;
}

.text-footer h5 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.footer-items ul li a {
    text-decoration: none;
    color: #ccc;
}

.footer-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-items {
    height: 160px;
}

/*                       Callout Container    */

.callout-container {
    height: 100vh;
    background: url('../agenda-2295709_1920.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    text-shadow: 7px 0px 24px #f0ad4e;
    color: #004290;
    font-size: 3.4rem;
    padding-bottom: 4px;
}

.block-divider {
    height: 2px;
    border: 0;
    background-color: #f0ad4e;
}

.lead {
    color: #004290;
    text-shadow: 2px 2px 20px #f0ad4e;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
}

.mybutton {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.width150 {
    width: 150px;
    z-index: 5;
}

/*                                     Quotes*/

.quotes-container {
    background-color: rgb(36, 68, 123);
    color: rgb(219, 187, 132);
}

.quote-card-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #60b4e4;
}

.blockquote-footer {
    color: rgb(219, 187, 132);
}

/*                                Industries*/

.industries-container {
    background-color: rgb(219, 187, 132);
    color: rgb(36, 68, 123);
}

.industry-card {
    height: 250px;
    text-align: justify;
}

/*                                 Features*/

.features-container {
    background-color: rgb(36, 68, 123);
    color: rgb(219, 187, 132);
}

.features-card {
    height: 250px;
}

p {
    text-align: justify;
}

.circle {
    font-size: 5rem;
    float: left;
    height: 120px;
    width: 120px;
    shape-outside: circle();
}

/*                          HAPPY Customers*/

.imagewrapper img {
    width: 250px;
    margin: 20px;
}

/*                    LOGIN SIGNIN BOOK a DEMO */

.wrapper {
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    display: block;
}

.logo-container h3 {
    color: white;
}

.whiteform {
    background-color: white;
    max-width: 500px;
    border-radius: 7px;
    box-shadow: 5px 10px 15px 15px rgba(0, 0, 0, 0.15);
}

.logo-container {
    text-align: center;
    max-width: 500px;
}

.loginselect {
    text-align: center;
}

.whiteform .btn {
    border-radius: 10px;
}


/*                       PRICING  */

.card-header {
    font-size: 1.5em;
}


.card-title {
    font-size: 2.5em;
    font-weight: 600;
}

.card-subtitle {
    font-size: .3em;
    font-weight: 200;
}

.list {
    list-style-type: none;
    /*text-align: left;*/
    text-indent: -1em;
}
